.Cart .product {
  display: grid;
  grid-template-columns: 45% auto 45%;
  gap: 8px;
  margin-bottom: 40px;
}

.Cart .product:last-child {
  margin: 0;
}

.Cart .product .info > h1 {
  font-size: 1rem;
  font-weight: 300;
  line-height: 25.6px;
  margin: 0;
  margin-bottom: 4px;
}

.Cart .product .info > h1:nth-child(3) {
  font-size: 1rem;
  font-weight: 500;
  line-height: 25.6px;
  margin: 0;
  margin-bottom: 8px;
}

.Cart .product .info .attribute {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.Cart .product .info .attribute > span {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.Cart .product .info .attribute > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
}

.Cart .product .info .attribute > div .color {
  width: 1rem;
  height: 1rem;
  position: relative;
}

.Cart .product .info .attribute > div .text {
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 14px;
  line-height: 22.4px;
  text-align: center;
  color: var(--black);
  padding: 5px;
  background: white;
  border: 1px solid var(--black);
}

.Cart .product .info .attribute > div .text.selected {
  background: var(--black);
  color: white;
}

.Cart .product .info .attribute > div .color > div {
  position: absolute;
  border: 1px solid var(--green);
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
}

.Cart .product .quantity-control {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.Cart .product .quantity-control > button:first-child,
.Cart .product .quantity-control > button:last-child {
  min-width: auto;
  min-height: auto;
  width: 24px;
  height: 24px;
  border: 1px solid var(--black);
  cursor: pointer;
  font-weight: 100;
  background-color: white;
  padding: 0;
  position: relative;
}

.Cart .product .quantity-control > button > div {
  position: absolute;
  margin: auto;
  background-color: var(--black);
  height: 0.1px;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Cart .product .quantity-control > button:first-child > div:first-child {
  transform: translate(-50%, -50%) rotate(-90deg);
}

.Cart .product .quantity-control > button:first-child + span {
  font-size: 1rem;
  line-height: 25.6px;
  font-weight: 500;
}

.Cart .product .gallery {
  position: relative;
}

.Cart .product .gallery > img {
  width: 100%;
  height: 100%;
}

.Cart .product .gallery .left,
.Cart .product .gallery .right {
  background: rgba(0, 0, 0, 0.73);
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  cursor: pointer;
}

.Cart .product .gallery .left {
  right: 3rem;
  bottom: 1rem;
}

.Cart .product .gallery .right {
  right: 1rem;
  bottom: 1rem;
}

.Cart .product .gallery .left > img,
.Cart .product .gallery .right > img {
  height: 5.62px;
  width: 11.24px;
  background: transparent;
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(167deg)
    brightness(105%) contrast(103%);
}

.Cart .product .gallery .left > img {
  transform: rotate(90deg);
}

.Cart .product .gallery .right > img {
  transform: rotate(-90deg);
}
