.Product {
  position: relative;
  margin: 80px 100px 200px 100px;
  display: grid;
  grid-template-columns: 80px 60% auto;
}

.Product img {
  max-width: 100%;
  max-height: 100%;
  height: 80px;
}

.Product .product-gallery {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.Product .product-gallery img:hover {
  cursor: pointer;
  transform: scale(1.1, 1.1);
  transition: transform var(--animation-duartion) linear;
}

.Product .product-gallery img:not(:hover) {
  transform: scale(1, 1);
  transition: transform var(--animation-duartion) linear;
}

.Product #active-image {
  height: max-content;
  box-sizing: border-box;
  padding: 0 100px 0 42px;
}

.Product #active-image.fadeIn {
  animation: fadeIn 250ms none;
}

.Product #active-image.fadeOut {
  animation: fadeOut 300ms none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.Product .product-description > h1 {
  font-size: 27px;
  line-height: 27px;
  color: var(--black);
}

.Product .product-description > h1:first-child {
  font-weight: 600;
}

.Product .product-description > h1:last-child {
  font-weight: 400;
}

.Product .attributes {
  list-style-type: none;
  margin: 42px 0;
  padding: 0;
}

.Product .attributes li {
  margin-bottom: 24px;
}

.Product .attributes li:last-child {
  margin: 0;
}

.Product .attributes li > h3 {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: var(--black);
}

.attribute {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
}

.attribute .text {
  padding: 14px 28px;
  border: 1px solid var(--black);
  color: var(--black);
  background-color: white;
  font-size: 18px;
  font-weight: 400;
}

.attribute span.text:hover {
  cursor: pointer;
  background-color: var(--black);
  color: white;
  transition: background-color var(--animation-duration) linear;
}

.attribute .swatch {
  cursor: pointer;
  padding: 2px;
  border: 1px solid transparent;
}

.attribute span.swatch:hover {
  border: 1px solid var(--green);
  transition: border var(--animation-duration) linear;
}

.attribute .swatch > div {
  height: 32px;
  width: 32px;
}

@media only screen and (max-width: 1024px) {
  .Product {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .Product .product-gallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow-x: auto;
    overflow-y: hidden;
    column-gap: 20px;
  }

  .Product #active-image {
    padding: 100px 0;
  }
}

@media only screen and (max-width: 768px) {
  .Product #active-image {
    padding: 80px 0;
  }
}
