.Currencies {
  display: inline-block;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 16px;
  cursor: pointer;
}

.Currencies span {
  font-weight: 500;
  font-size: 18px;
}

.Currencies img {
  align-self: center;
  transform: rotate(0deg);
  transition: transform var(--animation-duration) ease-in-out;
}

.Currencies img.opened {
  transform: rotate(180deg);
  transition: transform var(--animation-duration) ease-in-out;
}

@media only screen and (max-width: 768px) {
  .Currencies {
    column-gap: 8px;
  }
}
