.Currencies {
  display: inline-block;
  display: flex;
  flex: auto;
  column-gap: 16px;
  cursor: pointer;
}

.Currencies span {
  font-weight: 500;
  font-size: 18px;
}

.Currencies img {
  align-self: center;
  transform: rotate(0deg);
  transition: transform var(--animation-duration) ease-in-out;
}

.Currencies img.rotate {
  transform: rotate(180deg);
  transition: transform var(--animation-duration) ease-in-out;
}

.Currencies .dropdown {
  overflow: hidden;
  line-height: 0;
  position: absolute;
  padding: 0;
  opacity: 0;
  list-style: none;
  margin: 1rem 0;
  width: max-content;
  font-size: 18px;
  font-weight: 500;
  box-shadow: 0 0 0.5rem 0.5rem #fafafa;
  z-index: 1;
  background-color: white;
}

.Currencies .dropdown li {
  padding: 8px 20px;
  transition: background-color var(--animation-duration);
}

.Currencies .dropdown li:hover {
  background-color: #eeeeee;
}

.Currencies .dropdown.show {
  line-height: 2;
  opacity: 1;
  margin: 2.5rem 0;
  transition: all var(--animation-duration) ease-in;
}

.Currencies .dropdown.hide {
  overflow: hidden;
  line-height: 0;
  opacity: 0;
  transition: all var(--animation-duration) ease-out;
}

@media only screen and (max-width: 768px) {
  .Currencies {
    justify-content: center;
    display: block;
    text-align: center;
  }
  .Currencies span {
    padding-right: 0.5rem;
  }

  .Currencies .dropdown {
    position: relative;
    height: 0;
    margin: 0;
  }

  .Currencies .dropdown.show {
    margin: 1rem 0;
    height: fit-content;
  }
}
