.Checkout {
  margin: 80px 100px 190px 100px;
  display: flex;
  flex-direction: column;
}

.Checkout > h1 {
  margin: 0 0 55px 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2rem;
  line-height: 42px;
}

.Checkout .Cart .product {
  grid-template-columns: 2fr auto 1fr;
  gap: 24px;
  padding: 24px 0;
  border-top: 1px solid var(--light-grey);
}

.Checkout .Cart .product:last-child {
  border-bottom: 1px solid var(--light-grey);
}

.Checkout .Cart .product .info > h1 {
  font-size: 30px;
  line-height: 27px;
  margin-bottom: 20px;
}

.Checkout .Cart .product .info > h1:first-child {
  font-weight: 600;
  margin-bottom: 16px;
}

.Checkout .Cart .product .info > h1:first-child + h1 {
  font-weight: 400;
}

.Checkout .Cart .product .info > h1:nth-child(3) {
  font-weight: 700;
  font-size: 24px;
}

.Checkout .Cart .product .info .attribute > span {
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
}

.Checkout .Cart .product .info .attribute > div .text {
  padding: 12px 22px;
  font-size: 16px;
  line-height: 18px;
}

.Checkout .Cart .product .info .attribute > div .color {
  width: 2rem;
  height: 2rem;
}

.Checkout .Cart .product .quantity-control button:first-child,
.Checkout .Cart .product .quantity-control button:last-child {
  width: 45px;
  height: 45px;
  font-weight: 200;
}

.Checkout .Cart .product .quantity-control button:first-child + span {
  font-size: 24px;
  line-height: 38.4px;
}

.Checkout > dl {
  display: grid;
  grid-template-columns: fit-conetnt auto;
  grid-template-columns: minmax(auto, max-content) auto;
  gap: 8px;
  font-size: 24px;
  margin: 2rem 0 1rem 0;
}

.Checkout > dl > dt {
  font-weight: 400;
}

.Checkout > dl > dd {
  font-weight: 700;
  margin: 0;
}

.Checkout > button {
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  background-color: var(--green);
  border: none;
  padding: 13px 0;
  width: 279px;
}

@media only screen and (max-width: 1024px) {
  .Checkout > h1 {
    margin: 0 0 25px 0;
    font-size: 1rem;
  }

  .Checkout .Cart .product {
    gap: 16px;
    padding: 16px 0;
    grid-template-columns: 1.2fr auto 1fr;
  }

  .Checkout .Cart .product .info > h1 {
    font-size: 21px;

    margin-bottom: 14px;
  }

  .Checkout .Cart .product .info > h1:first-child {
    margin-bottom: 11px;
  }

  .Checkout .Cart .product .info > h1:nth-child(3) {
    font-weight: 700;
    font-size: 16px;
  }

  .Checkout .Cart .product .info .attribute > span {
    font-size: 12px;
  }

  .Checkout .Cart .product .info .attribute > div .text {
    padding: 8px 15px;
    font-size: 11px;
  }

  .Checkout .Cart .product .info .attribute > div .color {
    width: 11px;
    height: 11px;
  }

  .Checkout .Cart .product .quantity-control button:first-child,
  .Checkout .Cart .product .quantity-control button:last-child {
    width: 31px;
    height: 31px;
  }

  .Checkout .Cart .product .quantity-control button:first-child + span {
    font-size: 16px;
  }

  .Checkout > dl {
    font-size: 16px;
  }

  .Checkout > dl > dt {
    text-align: right;
  }

  .Checkout > button {
    font-size: 12px;
    padding: 10px 0;
    width: 200px;
  }
}

@media only screen and (max-width: 768px) {
  .Checkout {
    margin: 60px 20px;
  }

  .Checkout .Cart .product {
    display: block;
  }

  .Checkout .Cart .product .info {
    float: left;
    width: 90%;
  }

  .Checkout .Cart .product .quantity-control {
    display: inline-flex;
    float: right;
  }

  .Checkout .Cart .product .gallery {
    clear: both;
    width: 50%;
    height: 89%;
    margin: auto;
  }

  .Checkout > dl {
    grid-template-columns: auto auto;
  }

  .Checkout > button {
    margin: auto;
  }
}
